*{
	margin: 0;
	padding: 0;
}
body{
	background-color:#fcdd03;
}
#contenedor{
	border:1px solid;
	width:100%;
	max-width:1366px;
	margin:0 auto;
}
#cabecera_principal{
	height:80px;
	width:100%;
	background:white;
	z-index:1;
}
#cabecera_principal img{
	margin-left:5%;
	float:left;
	width:85px;
	margin-top:10px;
}
#cabecera_principal h1{
	margin-left:2%;
	margin-bottom:0px;
	margin-top:25px;
	color:black;
	font-family:arial, sans-serif;
	text-shadow:none;
	text-transform:none;
	letter-spacing:1.5px;
	float:left;
	width:57%;
	text-align:left;
}
#cabecera_principal #seguinos{
	text-align:center;
	margin-top:25px;
	margin-left:5%;
	float:left;
	width:20%;
	transition-duration:1s;
	box-sizing:border-box;
}
#cabecera_principal #seguinos p{
	text-align:left;
	font-family:arial,sans-serif;
	font-size:23px;
	width:100%;
	float:left;
}
#cabecera_principal #seguinos p #folow{
	float:right;
	margin-top:-8px;
	margin-left:3px;
	width:40px;
}

@-webkit-keyframes folow{
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

@keyframes folow{
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

#folow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
#folow:hover, #folow:focus, #folow:active {
  -webkit-animation-name: folow;
  animation-name: folow;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9), 0px 3px 0 rgba(0, 0, 0, .1);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal bold 30px/1 Century Gothic, Helvetica;
    position: relative;
}
#central{
	border: 1px solid red;
    width: 100%;
	
}
#sector{
	border:1px solid white;
	width: 100%;
	height:102%;
}

/*Pie de pagina*/
#pie_principal{
	text-align:center;
	width:100%;
	background:whitesmoke;
}
#pie_principal p{
	font-size:15px;
	font-family:Century Gothic, Helvetica;
	text-align:center;
}
#pie_principal img{
	width:100px;
}
/*ESTILO MENU*/
#menuizq,
#menuizq ul,
#menuizq ul li,
#menuizq ul ul {
  list-style: none;
  margin: 0;
  padding:0;
  border: 0;
  }
#menuizq{
	overflow: hidden;
	height:100%;
	position: fixed;
	font-size:20px;
	font-family: 'Lato', sans-serif;
	background-color:#d7b368;
	margin-top:-80px;
	width:41px;
	left:0px;
	z-index: 2;
	border: 2px solid #d7b368;
	
	
	-moz-transition-duration:.3s;
  	-webkit-transition-duration:.3s;
  	-o-transition-duration:.3s;
  	transition-duration:.3s;

}
/*Estilo CSS*/
#menuizq ul a,
#menuizq ul a:link,
#menuizq ul a:visited {
  display: block;
  color: #f5eaba;
  text-decoration: none;
  font-weight: 300px;
}
#menuizq > ul {
  float: none;
}
#menuizq ul {
  background: #d7b368;
}
#menuizq > ul > li > a {
    padding: 14px 14px;
  transition-duration: 0.5s;
}
#menuizq > ul > li:hover {
  border-left: 1px solid #fff;
}
#menuizq ul li:hover > a {
  color: #ffffff;
  
}
#menuizq ul li{
	width:210px;
}

/*Efecto del MENU*/
#menuizq:hover{
	width:210px;
}

/*Estilo de pagina*/

/*Estilo Slider*/
#slider{
	height:100%;
	width: 100%;
	z-index: -1;
}

/* ESTILOS DEL SLIDESHOW */
 
ul.bjqs{
	position:relative; 
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden; 
	display:none;
}
li.bjqs-slide{
	position:absolute; 
	display:none;
}
ul.bjqs-controls{
	list-style:none;
	margin:0;
	padding:0;
	z-index:9999;
}
ul.bjqs-controls.v-centered li a{
position:absolute;
}
ul.bjqs-controls.v-centered li.bjqs-next a{
right:0;
}
ul.bjqs-controls.v-centered li.bjqs-prev a{
left:0;
}

p.bjqs-caption{
font: normal 50px/1 Century Gothic, Helvetic;
display:block;
width:96%;
margin:0;
padding:2%;
position:absolute;
bottom:0;
}
 
.bjqs-caption{
color:white;
background:#000000;
opacity:.65;
font-size: 38px;
text-align: right;
}
/* FIN ESTILOS DEL SLIDESHOW */
/*Estilo Nosotros*/
#titulo_nosotros{
	border-bottom:2px solid grey;
	background:lightyellow;
	width:100%;
	padding-top:10px;
}
#titulo_nosotros div{
	width:30%;
	margin-left:80px;
	font-size:20px;
	font-weight:bold;
	font-family:arial,sans-serif;
}
#titulo_nosotros p{
	margin-left:80px;
	font-size:15px;
	font-family:arial,sans-serif;
	width:30%;
	line-height:190%;
}
#info_nosotros{
	text-align:center;
	margin-top:60px;
	width:45%;
	height:auto;
	margin-left:5%;
	float:left;
	box-sizin:border-box;
}
#info_nosotros img{
	width:150px;
	border-radius:90px;
	background-color:white;
	border: 5px solid black;
}
#info_nosotros p{
	font-size:20px;
	font-family:arial,sans-serif;
}
#info_nosotros1{
	box-sizin:border-box;
	float:left;
	text-align:center;
	margin-top:60px;
	width:45%;
}
#info_nosotros1 div{
	text-align:left;
	font-size:30px;
	font-family:Century Gothic,sans-serif;
	border-bottom:3px solid black;
}
#info_nosotros1 p{
	text-align:left;
	font-size:20px;
	font-family:arial,sans-serif;
}
#info_nosotros1 button{
	border-radius: 0px;
	background: grey;
	width:30%;
	height:38px;
	font-size:18px;
	font-weight: bold;
	color:white;
	border:0px;
	transition-duration: 0.5s;
}
#info_nosotros1 button:hover{
	background: whitesmoke;
	color:black;
}
/*Estilo Quienes somos*/
#medio #parrafo{
	border-bottom:3px solid white;
}
#medio #parrafo h4{
	font-size:30px;
	font-family:century gothic,sans-serif;
	color:darkslategray;
	width:300px;
	margin-left:60px;
}
#medio	#parrafo p{
	margin-left:370px;
	font-size:20px;
	font-family:arial,sans-serif;
	width:950px;
	height:70px;
	margin-top:-69px;

}
#medio #foto_personas{
	width:960px;
	height:400px;
	margin-top:40px;
	padding:15px;
	margin-left:150px;
	position:static;
}
#medio #foto_personas #foto1{
	text-align:center;
	position:relative;
	border-radius:100px;
	border:1px solid;
	width:156px;
	height:156px;
	transition-duration: 0.4s;
	float:left;
}
#medio #foto1 img{
	background-color:#fff;
	position:relative;
	border:3px solid black;
	border-radius:100px;
	width:150px;
	height:150px;
	transition-duration: 0.5s;
}
#medio #foto_personas #foto1 h3{
	display:none;
	overflow:hidden;
	font-size:17px;
	font-family:arial,sans-serif;
	width:155px;
	height:96px;
	position:relative;
	margin-top:-157px;
	text-align:center;
	padding-top:60px;
	transition-duration: 0.8s;

}
#medio #foto_personas #foto1 p{
	text-align:center;
	font-size:14px;
	font-family:arial,sans-serif;
	width:155px;
	height:71px;
	position:relative;
	margin-top:-176px;
	padding-top:85px;
	display:none;
	overflow:hidden;
	transition-duration: 0.5s;
}
#medio #foto_personas #foto1:hover img{
	opacity:.3;
}
#medio #foto_personas #foto1:hover h3{
	position:relative;
	display:block;
	z-index:-1;
}
#medio #foto_personas #foto1:hover p{
	border:0px;
	z-index:-1;
	position:relative;
	display:block;
}
/*Fin quienes somos*/
/*Fin estilo nosotros*/
/*COMIENZO LOGIN HUELLAS*/
#logo_login{
	width:100%;
	text-align:center;
}
#logo_login img{
	width:170px;
	margin:10px;
}
#ventana_ingreso{
	margin-top:10px;
	float:left;
	padding-top:10px;
	width: 50%;
	border-left: 3px solid black;
}
#cuerpo_registro1{
	margin-left:30px;
	width: 90%;
}
#cuerpo_registro1 table{
	width:100%;
}
#cuerpo_registro1 label{
    color: #666;
    letter-spacing: 1px;
    font: normal bold 18px Century Gothic, Helvetica;
    position: relative;
}
#cuerpo_registro1 input{
 	background: url("/apa/img/user.png") no-repeat left top;
	font: normal 14px Century Gothic, Helvetica, sans-serif;
	border:2px solid lightgray;
	border-radius:6px;
	height: 35px;
	width:80%;
	padding-left:35px;
}
#cuerpo_registro1 input.user{
	background: white url("/apa/img/user.png") no-repeat left top;
}
#cuerpo_registro1 input.llave{
	background: white url("/apa/img/llave1.png") no-repeat left top;
}
#cuerpo_registro1 div{
	margin-top:6px;
}
#cuerpo_registro1 #rec_clave{
	font: normal 14px Century Gothic,sans-serif;
	top:3px;
}
#cuerpo_registro1 #check{
	float:left;
	width:20px;
	height:20px;
}
#cuerpo_registro1 a{
	font: normal 14px Arial, Helvetica, sans-serif;
}
#cuerpo_registro1 #boton_ingresar{
	border-radius: 0px;
	background: grey;
	width:30%;
	font-size:18px;
	font-weight: bold;
	color:white;
	border:0px;
	margin-top:26px;
	padding:0px;
	transition-duration: 0.5s;
}
#cuerpo_registro1 #boton_ingresar:hover{
	background: whitesmoke;
	color:black;
}
#info_ingreso{
	float:left;
	margin-top:10px;
	border-left: 3px solid black;
	float:left;
	margin-left:5%;
	width: 40%;
	padding:30px;
}
#info_ingreso p{
	color:black;
	font-family: Arial,sans-serif;
	text-align:justify;
	line-height:170%;
}
#info_ingreso button{
	border-radius: 0px;
	background: grey;
	width:40%;
	font-size:18px;
	font-weight: bold;
	color:white;
	margin-top:10px;
	border:0px;
	height:35px;
	font-family:Century Gothic;
	transition-duration: 0.5s;
}
#info_ingreso button:hover{
	background: whitesmoke;
	color:black;
}
/*FIN LOGIN HUELLAS*/
/*ESTILO Registro*/
#medio{
	width:100%;
	height:100%;
}
#cabecera{
	background-color:whitesmoke;
	width:100%;
	height:80px;
	margin-top:-8px;
	border-bottom:2px solid lightgray;
}
#logo{
	width:125px;
	height:80px;
	padding-left:70px;
	float:left;
}
#cabecera #volver{
	font-size:14px;
	font-family:arial,sans-serif;
	width:100px;
	height:78px;
	margin-left:1180px;
	text-align:center;
}
#cabecera #volver a:visited, a:link{
	text-decoration:none;
	color:black;
}

#cabecera #ic_volver{
	width:60px;
	height:60px;

}
#cabecera1{
	text-shadow: 0 1px 0 rgba(255, 255, 255, .9), 0px 3px 0 rgba(0, 0, 0, .1);
    text-align: center;
    color: #666;
    margin: 0 0 30px 0;
    letter-spacing: 4px;
    font: normal bold 30px/1 Century Gothic, Helvetica;
    position: relative;
    background-color:yellow;
    width:100%;
    height:60px;
    padding-top:30px;
}
#ventana_registro{
	margin-left:60px;
	border:4px solid white;
	border-radius:8px;
	background-color:#fcf8a5;
	float:left;
	width:500px;
	height:100%;
}
#registro{
	line-height:150%;
	height:100%;
	width:100%;
	margin-left:30px;
	margin-top:30px;
}
#registro label{
	font-weight:bold;
	font-family: arial,sans-serif;
}
#registro input{
	border:2px solid lightgray;
	border-radius:6px;
	height:30px;
} 
#registro #subir_foto{
	border-radius:0px;
	border:0px;
}
#registro select{
	border:2px solid lightgray;
	border-radius:6px;
	height:30px;
}
#registro #captcha{
	float:left;
}
#registro #boton_cargar{

	border-radius: 0px;
	background: grey;
	width:30%;
	font-size:18px;
	font-weight: bold;
	color:white;
	border:0px;
	margin-top:15px;
	margin-left:150px;
	transition-duration: 0.5s;
}
#registro #boton_cargar:hover{
	background: whitesmoke;
	color:black;
}

#info_ingreso1{
	border-radius:6px;
	border-left: 3px solid black;
	float:left;
	margin-left:20px;
	width:45%;
	height:100%;
	position:static;
}
#info_ingreso1 p{
	font-family:arial,sans-serif;
	font-size:20px;
	margin-left:20px;
}
#pie{
	font-size:14px;
	font-family:arial,sans-serif;
	text-align:center;
	background-color:whitesmoke;
	height:30px;
	position:static;
	padding-top:10px;
}
/*Fin ESTILO registro*/
/*ESTILO Contacto*/
#titulo_contacto{
	margin-top:5px;
	width:100%;
	background: lightyellow;
	opacity:.70;
	position:static;
	border-bottom:2px solid grey;
}
#titulo_contacto p{
	font-family:Century Gothic,sans-serif;
	position:relative;
	color:black;
	text-align:center;
	font-size: 38px;
	width:100%;
	padding-top:12px;
}
#info_contacto{
	border-left: 3px solid black;
	width:40%;
	margin-left:30px;
	float:left;
	margin-top:20px;
}
#info_contacto p{
	font-family: arial, sans-serif;
	font-size:18px;
	line-height:150%;
	margin-left:23px;
	width:90%;
	padding-left:2px;
	text-align:justify;
}
#ventana_contacto{
	margin-left:25px;
	float:left;
	border-left:3px solid black;
	margin-top:20px;
	width:52%;
}
#ventana_contacto #contacto{
	width:90%;
	margin-left:32px;
}
#ventana_contacto #contacto label{
	font-family: arial, sans-serif;
	font-size:25px;
}
#ventana_contacto #contacto input{
	border:2px solid lightgray;
	border-radius:6px;
	height:45px;
	width:100%;
	margin-top:5px;
}
#ventana_contacto #contacto textarea{
	border:2px solid lightgray;
	border-radius:6px;
	height:170px;
	width:100%;
	margin-top:5px;
}
#ventana_contacto #contacto button{
	border-radius: 0px;
	background: grey;
	width:30%;
	height:38px;
	font-size:18px;
	font-weight: bold;
	color:white;
	border:0px;
	margin-top:15px;
	transition-duration: 0.5s;
}
#ventana_contacto #contacto button:hover{
	background: whitesmoke;
	color:black;
}
/*Fin estilo contacto*/

/*ESTILO eventos*/


/*AGREGAR STILO EVENTO */

/*fin estilo eventos*/

/*Estilo animales*/
/*estilo menu animales*/
#enc_menu_a{
	width:100%;
	height:11%;
}
#enc_menu_a a{
	text-align:center;
	font-family:arial,sans-serif;
	color:darkslategray;
}
#enc_menu_a #menu1{
	margin-left:5.5%;
	background-color:#e1e1e1;
	border-top:4px solid green;
	float:left;
	height:70px;
	width:23%;
	transition-duration:1s;
}
#enc_menu_a #menu1{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
#enc_menu_a #menu1:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
#enc_menu_a #menu1:hover:before, #enc_menu_a #menu1:focus:before, #enc_menu_a #menu1:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

#enc_menu_a #menu2{
	background-color:#e1e1e1;
	border-top:4px solid red;
	float:left;
	height:70px;
	width:23%;
	transition-duration:1s;
}
#enc_menu_a #menu2{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
#enc_menu_a #menu2:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
#enc_menu_a #menu2:hover:before, #enc_menu_a #menu2:focus:before, #enc_menu_a #menu2:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
#enc_menu_a #menu3{
	background-color:#e1e1e1;
	border-top:4px solid blue;
	float:left;
	height:70px;
	width:23%;
	transition-duration:1s;
}
#enc_menu_a #menu3{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
#enc_menu_a #menu3:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
#enc_menu_a #menu3:hover:before, #enc_menu_a #menu3:focus:before, #enc_menu_a #menu3:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
#enc_menu_a #menu4{
	background-color:#e1e1e1;
	border-top:4px solid white;
	float:left;
	height:70px;
	width:23%;
	transition-duration:1s;
}#enc_menu_a #menu4{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
#enc_menu_a #menu4:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  left: calc(50% - 10px);
  bottom: 0;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
}
#enc_menu_a #menu4:hover:before, #enc_menu_a #menu4:focus:before, #enc_menu_a #menu4:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
#enc_menu_a #menu1:hover{
	background:url("/apa/img/img_evento4.jpg") no-repeat center;
	color:white;
}
#enc_menu_a #menu2:hover{
	background:url("/apa/img/img_gato.jpg") no-repeat center;
	color:white;
}
#enc_menu_a #menu3:hover{
	background:url("/apa/img/img_caballo.jpg") no-repeat center;
	color:white;
}
#enc_menu_a #menu4:hover{
	background:url("/apa/img/img_refugio.jpg") no-repeat left;
	color:white;
}
/*fin estilo menu animales*/
#cont_ifr {
	width:100%;
	margin-top:10px;
	
	height:75%;
}
#cont_ifr iframe{
	margin-left:5.5%;
	border:0px;
	background-color:white;
	width:92%;
	height:100%;
}
/*fin estilo animales*/

/*Estilo veterinarias*/
#busqueda_vet{
	width:25%;
	margin-top:20px;
	margin-left:4%;
	float:left;
}
#busqueda_vet label{
	font-family:century gothic,sans-serif;
	font-size:24px;
}
#busqueda_vet select{
	border:2px solid lightgray;
	border-radius:6px;
	height:45px;
	width:100%;
	margin-top:15px;
	font-size:20px;
}
#busqueda_vet button{
	border-radius: 0px;
	background: grey;
	width:100%;
	height:38px;
	font-size:18px;
	font-weight: bold;
	color:white;
	border:0px;
	margin-top:15px;
	transition-duration: 0.5s;
}
#busqueda_vet button:hover{
	background: whitesmoke;
	color:black;
}	
#cont_ifr_vet{
	float:left;
	margin-top:20px;
	margin-left:10px;
	width:69%;
	height:71%;
}
#cont_ifr_vet iframe{
	border:0px;
	position: relative;
	background:white;
	width:100%;
	height:100%;
}
/*fin estilo veterinarias*/

/*INICIO DE SESION*/
#perfil{
	margin-left:39%;
}
/*SESION*/